{% load static %}
{% load staticfiles%}
{% load bootstrap3%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block styles%} {% bootstrap_css%} {% endblock%}
</head>
{% block content%}
<body style="background-color: white;">
    <div class="container">
            <div class="row">
            <div class="col-md-6">
                    <div style="color: black">
                            {{ user_data.username }}
                            <br>
                            <br>
                            <br>
                            
                    </div>
                
                    <div class="col-md-4">
                    <p>{{ user_profile.bio}}</p>
                    <a class="btn btn-primary" href=" {% url 'edit_profile' %} ">Edit Profile</a>
                    </div>
            </div>
    <div class="col-md-6">
    <img src="{{user_profile.photo.url}}" height='150' alt="profile">
    </div>
        
</div>
</div>
    <div>
        <a href="{% url 'logout'%}">Logout</a>
    </div>

{%endblock%}
</body>
</html>
